.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* Increase spacing between buttons */
  justify-content: center; /* Center the buttons on the page */
  height: 100vh; /* Ensure the container takes full height */
}

button {
  width: 100%;
  max-width: 300px; /* Ensure all buttons have the same max width */
  margin: 0 auto; /* Center the buttons */
  color: white !important; /* Ensure text color is white */
  padding: 15px 20px; /* Increase padding for better appearance */
}

button.bg-blue-600 {
  background-color: #3b82f6 !important; /* Nicer blue color */
}

button.bg-yellow-600 {
  background-color: #facc15 !important; /* Nicer yellow color */
}

button.bg-green-600 {
  background-color: #22c55e !important; /* Nicer green color */
}
